<nav class="navigation-bar">
    <a href="/" class="nav-button">BI Home</a>
    <a href="/about" class="nav-button">CAS Home</a>
    <a href="/school-application" class="nav-button">School Application</a>
    <a href="/institution-application" class="nav-button">Institution Application</a>
    <a href="/contact" class="nav-button">Contact</a>
</nav>